@import "bootstrap-sprockets";
@import "bootstrap";

$lightblue: #dae5e8;

body{
	background-color: #C6ADEA;
}

#content{
	position: relative;
	margin-right: 20%;
}

#main{
	position: relative;
	margin-left: 20%;
}


label{
	width: 100px;
}

/*
Sidebar
 */

#sidebar-wrapper{
	min-height: 100%;
	height: 100%;
    border-right: 2px solid gray;
    position: fixed;
    margin-right: 20%;
}

#sidebar{
	height: 100%;
}

/*
Index
 */



.upload{
	margin-top: 50px;
}

.image-board{
	margin-top: 50px;
}

.image-board img{
	height: 200px;
	width: 150px;
	margin-right: 50px;
	margin-bottom: 50px;
}

/*
Show
 */

#about-container{
	margin-top: 50px;
}

.img-show img{
	height: 50%;
	width: 50%;
	margin: 50px 5px 5px 5px;
}

.tag{
	border: 1px solid black;
	background-color: white;
	border-radius: 5px;
	padding: 2px 2px 2px 2px;
	&:hover{
		background-color: $lightblue;
	}
}