@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #C6ADEA;
}

/*
Sidebar
 */

.sidebar-wrapper{
    z-index: 1000;
    position:fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 300px;
    border-style: solid;
    border-right: thick double #ff0000;
}

/*
Index
 */

.container{
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
}

.upload{
	margin-top: 50px;
}

.image-board{
	margin-top: 50px;
}

.image-board img{
	height: 200px;
	width: 150px;
	margin-right: 50px;
	margin-bottom: 50px;
}

/*
Show
 */

#about-container{
	margin-top: 50px;
}

.img-show img{
	height: 50%;
	width: 50%;
	margin: 50px 5px 5px 5px;
}